html {
  height: 600vw;
}
html body {
  height: 100%;
  padding: 0%;
  margin: 0%;
}
html body #root {
  height: 100%;
  background-color: rgb(2, 2, 43);
  color: aliceblue;
  padding: 4%;
  font-family: "DMSans";
}
html body #root header {
  height: 20%;
}
html body #root header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
html body #root header nav img {
  width: 40%;
}
html body #root header nav section.dropdown {
  width: 30%;
}
html body #root header nav section.dropdown button.dropdown-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%;
  padding: 10%;
  gap: 5%;
  background-color: rgb(45, 41, 61);
  color: aliceblue;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 5%;
  cursor: pointer;
}
html body #root header nav section.dropdown button.dropdown-toggle img.settings-icon {
  height: 100%;
}
html body #root header nav section.dropdown button.dropdown-toggle img.dropdown-icon {
  height: 60%;
}
html body #root header nav section.dropdown div.dropdown-section {
  background-color: rgb(45, 41, 61);
  padding: 2%;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  left: 44%;
  width: 50%;
}
html body #root header nav section.dropdown div.dropdown-section > * {
  padding-right: 3%;
  padding-left: 3%;
}
html body #root header nav section.dropdown div.dropdown-section button.switch {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: transparent;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
  color: aliceblue;
  transition: all 0.1s ease;
}
html body #root header nav section.dropdown div.dropdown-section button.switch:hover, html body #root header nav section.dropdown div.dropdown-section button.switch:focus-visible {
  background-color: rgb(74, 71, 87);
}
html body #root header nav section.dropdown div.dropdown-section > div {
  display: flex;
  flex-direction: column;
  padding-bottom: 6%;
}
html body #root header nav section.dropdown div.dropdown-section > div h4 {
  margin-top: 12%;
  margin-bottom: 12%;
}
html body #root header nav section.dropdown div.dropdown-section > div div.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
html body #root header nav section.dropdown div.dropdown-section > div div.option:hover, html body #root header nav section.dropdown div.dropdown-section > div div.option:focus-visible, html body #root header nav section.dropdown div.dropdown-section > div div.option:active {
  background-color: rgb(74, 71, 87);
}
html body #root header nav section.dropdown div.dropdown-section > div div.option:active {
  transform: scale(1.3);
}
html body #root header nav section.dropdown div.dropdown-section > div div.option input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
html body #root header nav section.dropdown div.dropdown-section > div div.option label {
  cursor: pointer;
  font-size: 1rem;
  width: 90%;
}
html body #root header nav section.dropdown div.dropdown-section > div div.option > img.empty-img {
  width: 20%;
  height: 100%;
}
html body #root header nav section.dropdown div.dropdown-section > div div.option > img.empty-img.full-img {
  width: 20%;
  height: 100%;
}
html body #root header nav section.dropdown div.dropdown-section div.temperature {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px rgb(87, 86, 86);
}
html body #root header nav section.dropdown div.dropdown-section div.wind-speed {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px rgb(87, 86, 86);
}
html body #root header nav section.dropdown div.dropdown-section div.precipitation {
  display: flex;
  flex-direction: column;
}
html body #root header h1.title {
  font-family: "BricolageGrotesque";
  width: 100%;
  text-align: center;
  font-size: 2.9rem;
}
html body #root header div.search-bar {
  display: flex;
  flex-direction: column;
  height: 28%;
  gap: 10%;
}
html body #root header div.search-bar div.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(60, 57, 77);
  border-radius: 8px;
}
html body #root header div.search-bar div.search-input > img {
  height: -moz-fit-content;
  height: fit-content;
  width: 10%;
  margin-right: 5%;
}
html body #root header div.search-bar div.search-input > input {
  width: 90%;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
html body #root header div.search-bar div.search-input > input:focus {
  outline: none;
}
html body #root header div.search-bar > button {
  height: 40%;
  font-size: 1.1rem;
  background-color: rgb(72, 83, 235);
  border-style: none;
  border-radius: 8px;
  color: aliceblue;
}
html body #root main {
  display: flex;
  flex-direction: column;
  height: 80%;
}
html body #root main section.bg-today {
  background-image: url("/public/bg-today-small.svg");
  background-size: cover;
  height: 16%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 60%;
  font-family: "DMSans";
  box-sizing: border-box;
  padding: 7%;
  padding-bottom: 10%;
}
html body #root main section.bg-today h3.city-country {
  grid-row: 1/2;
  grid-column: 1/3;
  width: 100%;
  text-align: center;
  align-self: last baseline;
  font-size: 1.5rem;
  margin: 0%;
}
html body #root main section.bg-today p.date {
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100%;
  text-align: center;
  align-self: last baseline;
  margin: 0%;
  margin-bottom: 5%;
}
html body #root main section.bg-today img {
  grid-row: 3;
  grid-column: 1/2;
  height: 90%;
  align-self: center;
}
html body #root main section.bg-today h1.degree {
  grid-row: 3;
  grid-column: 2;
  font-size: 5rem;
  align-self: center;
  margin: 0%;
}
html body #root main section.general-forecast {
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body #root main section.general-forecast article {
  width: 48%;
  height: 45%;
  box-sizing: border-box;
  padding: 5%;
  background-color: rgb(54, 51, 83);
  border-radius: 8px;
  border: solid 0.5px rgb(73, 73, 73);
  margin-bottom: 5%;
}
html body #root main section.general-forecast article h3 {
  margin: 0%;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(100, 100, 100);
}
html body #root main section.general-forecast article p {
  margin: 0%;
  font-size: 2rem;
  margin-top: 15%;
}
html body #root main section.daily-forecast {
  width: 100%;
  height: 34%;
}
html body #root main section.daily-forecast h2 {
  font-size: 1.1rem;
}
html body #root main section.daily-forecast div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
html body #root main section.daily-forecast div article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35%;
  width: 30%;
  padding: 3%;
  margin-bottom: 5%;
  background-color: rgb(54, 51, 83);
  border-radius: 8px;
}
html body #root main section.daily-forecast div article h3 {
  width: 100%;
  text-align: center;
  margin: 0%;
  font-weight: 400;
}
html body #root main section.daily-forecast div article img {
  width: 70%;
  margin-top: 10%;
  margin-bottom: 20%;
}
html body #root main section.daily-forecast div article div.dregres-range {
  width: 100%;
}
html body #root main section.daily-forecast div article div.dregres-range p {
  margin: 0%;
}
html body #root main section.hourly-forecast {
  height: 32%;
  background-color: rgb(41, 39, 65);
  border-radius: 20px;
  padding: 5%;
}
html body #root main section.hourly-forecast div.top-pick-a-day {
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
html body #root main section.hourly-forecast div.top-pick-a-day h2 {
  margin: 0%;
  font-size: 1rem;
}
html body #root main section.hourly-forecast div.top-pick-a-day section.dropdown-day {
  width: 38%;
}
html body #root main section.hourly-forecast div.top-pick-a-day section.dropdown-day button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgb(69, 65, 102);
  color: aliceblue;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
}
html body #root main section.hourly-forecast ul.hours-list {
  height: 90%;
  list-style: none;
  padding-left: 0%;
}
html body #root main section.hourly-forecast ul.hours-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 9.5%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
  background-color: rgb(54, 51, 83);
  border-radius: 8px;
  border: solid 0.5px rgb(73, 73, 73);
}
html body #root main section.hourly-forecast ul.hours-list li > img {
  width: 15%;
  height: 90%;
}
html body #root main section.hourly-forecast ul.hours-list li > p.hour {
  width: 20%;
  margin: 0%;
  text-align: center;
}
html body #root main section.hourly-forecast ul.hours-list li > p.deagree {
  margin-left: auto;
  margin: 0%;
}

@font-face {
  font-family: "BricolageGrotesque";
  src: url("/src/fonts/BricolageGrotesque-Bold.ttf") format("truetype-variations");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/src/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("/src/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("/src/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=App.css.map */