// BricolageGrotesque
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/src/fonts/BricolageGrotesque-Bold.ttf")
    format("truetype-variations");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BricolageGrotesque";
  src: url("/src/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

// DMSans
@font-face {
  font-family: "DMSans";
  src: url("/src/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("/src/fonts/DMSans-VariableFont_opsz\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
