@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 22px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 16px;
    height: 60vw;
    body {
      height: 100%;

      #root {
        height: 100%;
        display: grid;
        grid-template-areas:
          "header header"
          "main main";
        grid-template-columns: 70% 30%;
        grid-template-rows: 30% 70%;
        header {
          grid-area: header;
          // grid-column: 1/3;
          // grid-row: 1/2;
          height: 100%;
          box-sizing: border-box;

          nav {
            height: 20%;
            section.dropdown {
              width: 12%;
              height: 100%;
              button.dropdown-toggle {
                font-size: 1.2rem;
                width: 100%;
                height: 100%;
                img.settings-icon {
                  height: 100%;
                  width: 40%;
                }
                img.dropdown-icon {
                  width: 40%;
                }
              }
              div.dropdown-section {
                width: 20%;
                left: 72%;
              }

              div.dropdown-enter {
              }
              div.dropdown-section-fade {
              }
            }

            img {
              height: 100%;
              width: fit-content;
            }
          }

          h1.title {
            font-size: 2.5rem;
          }

          div.search-bar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 30%;

            gap: 2%;

            div.search-input {
              height: 100%;
              width: 35%;
              padding-left: 2%;
              padding-right: 2%;
            }
            button.search {
              height: 100%;
              width: 10%;
              margin: 0%;
            }
          }
          section.error-page {
            width: 100%;
            // height: 20%;
            padding-top: 5%;
            img {
              width: 5%;
            }
            h1 {
              font-size: 3rem;
            }
            p {
              width: 50%;
            }
            button {
              width: 12%;
            }
          }
        }
        main {
          height: 100%;

          grid-area: main;
          // grid-column: 1/3;
          // grid-row: 2;

          display: grid;
          grid-template-rows: 45% 20% 35%;
          grid-template-columns: 60% 40%;

          > section {
            box-sizing: border-box;
            padding-left: 5%;
            padding-right: 5%;
          }

          section.bg-today,
          section.bg-today.loading {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: baseline;
            box-sizing: border-box;

            width: 100%;
          }
          section.bg-today {
            background-image: url("/public/bg-today-large.svg");
            background-size: cover;
            height: 90%;
            display: grid;
            padding: 5%;

            margin: 0%;
            margin-bottom: 5%;
            overflow: hidden;
            position: relative;
            grid-template-rows: 50% 50%;
            grid-template-columns: 50% 50%;

            h3.city-country {
              grid-column: 1/2;
              grid-column: 1/2;
              width: fit-content;
              margin-bottom: 2%;
              text-align: left;
            }
            p.date {
              grid-column: 1/2;
              grid-row: 2;
              width: fit-content;
              align-self: baseline;
              margin-top: 2%;
            }
            img {
              grid-column: 2;
              grid-row: 1/3;
              height: 48%;
              width: 30%;
              margin-left: 25%;
            }
            h1.degree {
              grid-column: 2;
              grid-row: 1/3;
              justify-self: right;
            }
          }

          section.general-forecast {
            grid-column: 1/2;
            grid-row: 2/3;
            height: 90%;
            width: 100%;
            box-sizing: border-box;
            padding: 0%;

            flex-direction: row;

            > article {
              width: 23%;
              height: 100%;
              padding: 2%;

              > h3 {
                font-size: 1rem;
              }
              > p {
                font-size: 1.5rem;
                margin-top: 5%;
              }
            }
          }
          section.daily-forecast {
            grid-column: 1/2;
            grid-row: 3;
            height: 90%;
            width: 100%;
            padding: 0%;
            box-sizing: border-box;

            h2 {
              margin-top: 2%;
              margin-bottom: 2%;
              height: 15%;
            }
            div {
              flex-wrap: nowrap;
              height: 80%;
              article {
                width: 12%;
                height: 100%;
                margin-bottom: 0%;
                padding-bottom: 0%;
                padding: 1%;
                box-sizing: border-box;

                h3 {
                }
                img {
                }
                > div.degres-range {
                  height: fit-content;
                  p.max-d,
                  p.min-d {
                    font-size: 0.7rem;
                  }
                }
              }
              article.empty-days {
                width: 12%;
                height: 100%;
                margin-bottom: 0%;
                padding-bottom: 0%;
                box-sizing: border-box;
              }
            }
          }
          section.hourly-forecast {
            grid-column: 2;
            grid-row: 1/4;
            height: 100%;
            width: 90%;
            margin-left: auto;
            box-sizing: border-box;
            div.top-pick-a-day {
              section.dropdown-day {
                section.dropdown-container {
                  width: 15%;
                  padding: 1%;
                  left: 77.5%;
                  top: 36%;

                  label.day-option {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
