@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 22px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 16px;
    height: 70vw;
    body {
      height: 100%;

      #root {
        height: 100%;
        display: grid;
        grid-template-areas:
          "header header"
          "main main";
        grid-template-columns: 70% 30%;
        grid-template-rows: 30% 70%;
        header {
          grid-area: header;
          // grid-column: 1/3;
          // grid-row: 1/2;
          height: 100%;
          box-sizing: border-box;

          nav {
            height: 20%;
            img {
              height: 100%;
              width: fit-content;
            }
          }

          h1.title {
            font-size: 2.5rem;
          }

          div.search-bar {
            display: flex;
            flex-direction: row;
            width: 50%;
            height: 30%;
            margin-left: 25%;
            margin-right: 25%;

            div.search-input {
              height: 100%;
              width: 80%;
            }
            button.search {
              height: 100%;
              width: 30%;
            }
          }
        }
        main {
          height: 100%;

          grid-area: main;
          // grid-column: 1/3;
          // grid-row: 2;

          display: grid;
          grid-template-rows: 50% 25% 25%;
          grid-template-columns: 60% 40%;

          > section {
            box-sizing: border-box;
            padding-left: 5%;
            padding-right: 5%;
          }

          section.bg-today,
          section.bg-today.loading {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            box-sizing: border-box;

            height: 90%;
            width: 100%;
          }
          section.general-forecast {
            grid-column: 1/2;
            grid-row: 2/3;
            height: 90%;
            width: 100%;
            box-sizing: border-box;

            flex-direction: row;

            > article {
              width: 20%;
              height: 45%;
            }
          }
          section.daily-forecast {
            grid-column: 1/2;
            grid-row: 3;
            height: 90%;
            width: 90%;
            box-sizing: border-box;
            div {
              flex-wrap: nowrap;
              article {
                width: 10%;
                height: 100%;
              }
            }
          }
          section.hourly-forecast {
            grid-column: 2;
            grid-row: 1/4;
            height: 90%;
            width: 90%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
