@media (min-width: 400px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 22px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    body {
      #root {
        display: grid;
        grid-template-areas:
          "header" "header"
          "main" "hourlyForecast";
        header {
        }
        main {
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
