// (321px)
html {
  height: 400vw;

  body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    #root {
      height: 100%;
      background-color: rgb(2, 2, 43);
      color: aliceblue;
      padding: 4%;

      header {
        height: 20%;
        nav {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          img {
            width: 40%;
          }
          section.dropdown {
            width: 30%;
            button.dropdown-toggle {
              display: flex;
              flex-direction: row;
              align-items: center;
              width: 100%;
              height: 80%;
              padding: 10%;
              gap: 5%;

              background-color: rgb(45, 41, 61);
              color: aliceblue;
              border-radius: 5px;
              border-style: none;
              margin-bottom: 5%;

              img.settings-icon {
                height: 100%;
              }
              img.dropdown-icon {
                height: 60%;
              }
            }
            div.dropdown-section {
              background-color: rgb(45, 41, 61);
              padding: 5%;
              border-radius: 10px;
              position: absolute;
              z-index: 2;
              left: 44%;

              button.switch {
              }

              //General styling
              > div {
                display: flex;
                flex-direction: column;
                div.option {
                  display: flex;
                  flex-direction: row;
                }
              }

              //Specific styling
              div.temperature {
                display: flex;
                flex-direction: column;
              }
              div.wind-speed {
                display: flex;
                flex-direction: column;
              }
              div.precipitation {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }

        h1.title {
          width: 100%;
          text-align: center;
          font-size: 2.5rem;
        }
        div.search-bar {
          display: flex;
          flex-direction: column;
          height: 25%;
          gap: 5%;
          > input {
          }
          > button {
          }
        }
      }
      main {
        display: flex;
        flex-direction: column;
        height: 80%;

        section.bg-today {
          background-image: url("/public/bg-today-small.svg");
          background-size: cover;
          height: 24%;
        }
      }
    }
  }
}
