// (321px)
html {
  height: 600vw;

  body {
    height: 100%;
    padding: 0%;
    margin: 0%;
    #root {
      height: 100%;
      background-color: rgb(2, 2, 43);
      color: aliceblue;
      padding: 4%;
      font-family: "DMSans";

      header {
        height: 20%;
        padding-bottom: 4%;
        width: 100%;

        nav {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          img {
            width: 40%;
          }
          section.dropdown {
            width: 30%;
            button.dropdown-toggle {
              display: flex;
              flex-direction: row;
              align-items: center;
              width: 100%;
              height: 80%;
              padding: 10%;
              gap: 5%;

              font-size: 1rem;
              background-color: rgb(45, 41, 61);
              color: aliceblue;
              border-radius: 5px;
              border-style: none;
              margin-bottom: 5%;
              cursor: pointer;

              img.settings-icon {
                height: 100%;
              }
              img.dropdown-icon {
                height: 60%;
              }
            }
            div.dropdown-section {
              background-color: rgb(45, 41, 61);
              padding: 2%;
              border-radius: 10px;
              position: absolute;
              z-index: 2;
              left: 44%;
              width: 50%;

              > * {
                padding-right: 3%;
                padding-left: 3%;
              }

              button.switch {
                width: 100%;
                padding-top: 5%;
                padding-bottom: 5%;
                background-color: transparent;
                border-style: none;
                border-radius: 8px;
                cursor: pointer;
                text-align: left;
                font-weight: 600;
                color: aliceblue;
                transition: all 0.1s ease;

                &:hover,
                &:focus-visible {
                  background-color: rgb(74, 71, 87);
                }
              }

              //General styling
              > div {
                display: flex;
                flex-direction: column;
                padding-bottom: 6%;
                h4 {
                  margin-top: 12%;
                  margin-bottom: 12%;
                }

                div.option {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  padding-left: 5%;
                  padding-right: 5%;
                  padding-top: 2%;
                  padding-bottom: 2%;

                  border-radius: 5px;
                  transition: all 0.1s ease-in-out;

                  &:hover,
                  &:focus-visible,
                  &:active {
                    background-color: rgb(74, 71, 87);
                  }
                  &:active {
                    transform: scale(1.3);
                  }

                  input[type="radio"] {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    position: absolute;
                    width: 0;
                    height: 0;
                    opacity: 0;
                  }

                  label {
                    cursor: pointer;
                    font-size: 1rem;
                    width: 90%;
                  }
                  img.empty-img {
                    width: 20%;
                    height: 100%;
                  }
                  img.full-img {
                    width: 20%;
                    height: 100%;
                  }
                }
              }

              //Specific styling
              div.temperature {
                display: flex;
                flex-direction: column;
                border-bottom: solid 1px rgb(87, 86, 86);
              }
              div.wind-speed {
                display: flex;
                flex-direction: column;
                border-bottom: solid 1px rgb(87, 86, 86);
              }
              div.precipitation {
                display: flex;
                flex-direction: column;
              }
            }

            div.dropdown-enter {
              transform: translateY(-10px);
              animation: dropdownFade 0.25s ease-out forwards;
            }
            div.dropdown-section-fade {
              transform: translateY(0px);
              animation: dropdownFadeOut 0.25s ease-out forwards;
            }
          }
        }

        h1.title {
          font-family: "BricolageGrotesque";
          width: 100%;
          text-align: center;
          font-size: 14.5vw;
        }
        div.search-bar {
          display: flex;
          flex-direction: column;

          height: 28%;
          gap: 10%;

          div.search-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 45%;
            box-sizing: border-box;
            padding-left: 6%;
            padding-right: 6%;
            padding-top: 2%;
            padding-bottom: 2%;

            background-color: rgb(60, 57, 77);
            border-radius: 8px;
            cursor: pointer;
            transition: all 0.25s ease;

            &:hover,
            &:focus {
              background-color: rgb(86, 85, 90);
            }
            &:active {
              transform: scale(1.3);
            }

            > img {
              height: fit-content;
              width: 10%;
              margin-right: 5%;
            }
            > input {
              width: 90%;
              background-color: transparent;
              border: none;
              color: white;
              font-weight: 600;
              font-size: 1.2rem;

              cursor: pointer;

              &:focus {
                outline: none;
              }
            }
          }

          > button {
            height: 45%;
            font-size: 1.2rem;
            font-weight: 400;
            background-color: rgb(72, 83, 235);
            border-style: none;
            border-radius: 8px;
            color: aliceblue;
            cursor: pointer;
            transition: all 0.25s ease;

            &:focus {
              outline: none;
            }
            &:hover,
            &:focus-visible {
              background-color: rgb(98, 107, 233);
            }
            &:active {
              transform: scale(1.3);
            }
          }
        }

        section.error-page {
          padding-top: 20%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-self: center;
          // margin-right: 20%;
          // margin-left: 20%;

          img {
            width: 20%;
          }
          h1 {
            text-align: center;
            font-size: 2.5rem;
          }
          p {
            text-align: center;
            margin: 0%;
            margin-bottom: 5%;
            font-size: 1.2rem;
          }
          button {
            width: 25%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 2%;
            padding-bottom: 2%;

            background-color: rgb(51, 52, 95);
            border: none;
            border-radius: 5px;
            color: aliceblue;
            font-size: 1rem;

            transition: all 0.2s ease-out;

            &:hover,
            &:focus-visible {
              background-color: rgb(73, 74, 134);
            }
            &:active {
              transform: scale(1.8);
            }
          }
        }
      }
      header.loading-error {
        height: 40%;
      }

      //================ THE MAIN =====================

      main {
        display: flex;
        flex-direction: column;
        height: 80%;

        .loading-container {
          display: flex;
          justify-content: center;
          align-items: center;
          // min-height: 260px;
          height: 90%;

          .loading-card {
            background: rgba(255, 255, 255, 0.08);
            padding: 40px 60px;
            border-radius: 16px;
            text-align: center;
            color: white;

            .dot {
              display: inline-block;
              width: 8px;
              height: 8px;
              margin: 0 4px;
              background: white;
              border-radius: 50%;
              animation: bounce 1.4s infinite ease-in-out both;
            }

            .dot:nth-child(1) {
              animation-delay: -0.32s;
            }
            .dot:nth-child(2) {
              animation-delay: -0.16s;
            }
          }
        }

        //================ The Regular code
        section.bg-today {
          background-image: url("/public/bg-today-small.svg");
          background-size: cover;
          height: 16%;
          margin-bottom: 5%;
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: 20% 20% 60%;
          font-family: "DMSans";

          box-sizing: border-box;
          padding: 7%;
          padding-bottom: 10%;

          h3.city-country {
            grid-row: 1/2;
            grid-column: 1/3;
            width: 100%;
            text-align: center;
            align-self: last baseline;
            font-size: 1.5rem;
            margin: 0%;
          }
          p.date {
            grid-row: 2/3;
            grid-column: 1/3;
            width: 100%;
            text-align: center;
            align-self: last baseline;
            margin: 0%;
            margin-bottom: 5%;
          }
          img {
            grid-row: 3;
            grid-column: 1/2;
            height: 90%;
            align-self: center;
          }
          h1.degree {
            grid-row: 3;
            grid-column: 2;
            font-size: 5rem;
            align-self: center;
            margin: 0%;
          }
        }
        section.bg-today.loading {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background-image: none;
          background-color: rgb(41, 39, 65);
          border-radius: 10px;
          border: solid 0.5px rgb(73, 73, 73);

          > .loading-container {
            align-self: center;
          }
        }

        section.general-forecast {
          height: 15%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          //general styling of the articles
          article {
            width: 48%;
            height: 45%;
            box-sizing: border-box;
            padding: 5%;
            background-color: rgb(54, 51, 83);
            border-radius: 8px;
            border: solid 0.5px rgb(73, 73, 73);
            margin-bottom: 5%;

            h3 {
              margin: 0%;
              font-size: 1rem;
              font-weight: 400;
              color: rgb(100, 100, 100);
            }
            p {
              margin: 0%;
              font-size: 1.9rem;
              margin-top: 15%;
            }
          }
        }
        section.daily-forecast {
          width: 100%;
          height: 34%;
          h2 {
            font-size: 1.1rem;
          }

          //general styling of the articles
          div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 70%;
            article {
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              align-items: center;

              height: 35%;
              width: 30%;
              padding: 3%;
              margin-bottom: 5%;
              background-color: rgb(54, 51, 83);
              border: solid 0.5px rgb(73, 73, 73);
              border-radius: 8px;
              h3 {
                width: 100%;
                text-align: center;
                margin: 0%;
                font-weight: 400;
              }
              img {
                width: 70%;
                margin-top: 10%;
                margin-bottom: 20%;
              }
              div.degres-range {
                width: 100%;
                //general <p>
                p {
                  margin: 0%;
                  font-size: 0.8rem;
                }

                // p.max-d {
                // }
                // p.min-d {
                // }
              }
            }
            article.empty-days {
              height: 34%;
              margin-bottom: 5%;
            }
          }
        }
        section.hourly-forecast {
          height: 32%;
          background-color: rgb(41, 39, 65);
          border-radius: 20px;
          padding: 5%;
          div.top-pick-a-day {
            height: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            h2 {
              margin: 0%;
              font-size: 1rem;
            }
            section.dropdown-day {
              width: 42%;
              button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                box-sizing: border-box;
                width: 100%;
                padding-left: 10%;
                padding-right: 10%;
                padding-top: 5%;
                padding-bottom: 5%;

                background-color: rgb(69, 65, 102);
                color: aliceblue;
                font-size: 0.9rem;
                border: none;
                border-radius: 5px;
                cursor: pointer;
              }
              section.dropdown-container {
                position: absolute;
                width: 40%;
                right: 9%;

                padding: 5%;
                margin-top: 2%;

                background-color: rgb(69, 65, 102);
                border-radius: 10px;

                > label {
                  width: 100%;
                  box-sizing: border-box;

                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;

                  margin-bottom: 5%;
                  padding: 5%;

                  border-radius: 5px;
                  cursor: pointer;
                  transition: all 0.5s ease;

                  &:hover,
                  &:focus-visible {
                    background-color: rgb(82, 78, 119);
                  }
                  &:active {
                    transform: scale(2);
                  }

                  input {
                    width: 20%;
                    box-sizing: border-box;
                    display: none;
                  }
                }
              }
              section.dropdown-container.enter {
                transform: translateY(-10px);
                animation: dropdownFade 0.2s ease-in-out forwards;
              }
              section.dropdown-container.fade {
                transform: translateY(0px);
                animation: dropdownFadeOut 0.2s ease-in-out forwards;
              }
            }
          }
          ul.hours-list {
            //General styling of the hours
            height: 90%;
            list-style: none;
            padding-left: 0%;
            li {
              display: flex;
              flex-direction: row;
              align-items: center;
              height: 9.5%;
              width: 100%;
              box-sizing: border-box;

              padding-left: 5%;
              padding-right: 5%;
              margin-bottom: 5%;

              background-color: rgb(54, 51, 83);
              border-radius: 8px;
              border: solid 0.5px rgb(73, 73, 73);

              > img {
                width: 13%;
                height: 95%;
              }
              > p.hour {
                width: 20%;
                margin: 0%;
                text-align: center;
              }
              > p.deagree {
                margin: 0%;
                margin-left: auto;
              }
            }
            li.empty-container {
              height: 9.5%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@import "_fonts.scss";
@import "_mediaQueries";
@import "_animations";
